<!DOCTYPE html>
<html>

<head>
    <title>Hawkeye Control Centre!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
        .wrapper {margin: 1em;}
        .container {margin: 1em;}
        .timerDisplay { font-size: 450%;}
    </style>
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <button id="capture-button" class="btn btn-dark">Take a picture with all Pis!</button>
            <div id="output"></div>
        </div>
        <div class="container">
            <button id="servers-button" class="btn btn-dark">Check Pis!</button>
            <div id="servers"></div>
        </div>
        <div class="container">
            <div id="stopwatch">
                <div class="timerDisplay">
                    00:000
                </div>
                <div class="buttons">
                  <button id="pauseTimer" class="btn btn-light">Pause</button>
                  <button id="startTimer" class="btn btn-dark">Start + Pic</button>
                  <button id="resetTimer" class="btn btn-light">Reset</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.getElementById("capture-button").addEventListener("click", function () {
            takePicture();
        });
        
        function takePicture() {
            var xhr = new XMLHttpRequest();
            xhr.open("GET", "/capture_image?exposure_sec=1", true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    document.getElementById("output").innerHTML = xhr.responseText;
                }
            };
            xhr.send();
        };
        document.getElementById("servers-button").addEventListener("click", function () {
            checkServers();
        });
        
        function checkServers() {
            var xhr = new XMLHttpRequest();
            xhr.open("GET", "/check_servers?exposure_sec=1", true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    document.getElementById("servers").innerHTML = xhr.responseText;
                }
            };
            xhr.send();
        };
        
        
        let [milliseconds,seconds,minutes,hours] = [0,0,0,0];
        let timerRef = document.querySelector(".timerDisplay");
        let int = null;
        
        document.getElementById("startTimer").addEventListener("click", ()=>{
            if(int!==null){
                clearInterval(int);
            }
            int = setInterval(displayTimer,10);
            takePicture();
        });
    
        document.getElementById("pauseTimer").addEventListener("click", ()=>{
            clearInterval(int);
        });
    
        document.getElementById("resetTimer").addEventListener("click", ()=>{
            clearInterval(int);
            [milliseconds,seconds,minutes,hours] = [0,0,0,0];
            timerRef.innerHTML = "00:000";
        });
        
        function displayTimer(){
            milliseconds+=10;
            if(milliseconds == 1000){
                milliseconds = 0;
                seconds++;
                if(seconds == 60){
                    seconds = 0;
                    minutes++;
                    if(minutes == 60){
                        minutes = 0;
                        hours++;
                    }
                }
            }
      
            let h = hours < 10 ? '0' + hours : hours;
            let m = minutes < 10 ? '0' + minutes : minutes;
            let s = seconds < 10 ? '0' + seconds : seconds;
            let ms = milliseconds < 10 ? '00' + milliseconds : milliseconds < 100 ? '0' + milliseconds : milliseconds;
            timerRef.innerHTML =  `${s}:${ms}`;
            
        }
    </script>
    
    
</body>

</html>
